# Ignored folders
.DS_store
.replay_cache
.vscode
.mixin.out
cache
coremods
crash-reports
fancymenu_data
local
logs
modernfix
mods
patchouli_books
replay_recordings
replay_videos
resourcepacks
saves
schematics
screenshots
server-resource-packs
shaderpacks
texturepacks
.qmenu_opened.marker
export.log
icon.png
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
kubejs/probe
hs_err_pid9180.log
.curseclient
minecraftinstance.json
fancymenu_data
fancymenu_data/default_scale_set.fm
fancymenu_data/last_world.fmdata