.DS_store
.vscode
.mixin.out
cache
coremods
crash-reports
local
logs
modernfix
mods
patchouli_books
resourcepacks
saves
schematics
screenshots
server-resource-packs
shaderpacks
texturepacks
.qmenu_opened.marker
icon.png
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
kubejs/probe
# Ignored configs
config/debugkeybind.json
config/modernfix-mixins.properties
config/modernfix-common.toml
config/nbt_ac.txt
config/solcarrot-client.toml
config/attributefix.json
