# Config folders to ignore
aether
alexscaves_biome_generation
alexsmobs/*
!alexsmobs/cosmic_cod_spawns.json
!alexsmobs/cosmaw_spawns.json
!alexsmobs/guster_spawns.json
!alexsmobs/tarantula_hawk_spawns.json
!alexsmobs/spectre_spawns.json
!alexsmobs/murmur.json
!alexsmobs/sunbird_spawns.json
!alexsmobs/toucan_spawns.json
!alexsmobs/komodo_dragon_spawns.json
!alexsmobs/flutter_spawns.json
!alexsmobs/anaconda_spawns.json
!alexsmobs/gorilla_spawns.json
!alexsmobs/alligator_snapping_turtle_spawns.json
!alexsmobs/grizzly_bear_spawns.json
!alexsmobs/caiman_spawns.json
!alexsmobs/froststalker_spawns.json
!alexsmobs/hummingbird_spawns.json
!alexsmobs/sugar_glider_spawns.json
!alexsmobs/bald_eagle_spawns.json
!alexsmobs/blue_jay_spawns.json
!alexsmobs/rocky_roller_spawns.json
!alexsmobs/cave_centipede_spawns.json
!alexsmobs/cockroach_spawns.json
apotheosis/adventure.cfg
apotheosis/ench.cfg
apotheosis/garden.cfg
apotheosis/names.cfg
apotheosis/potion.cfg
apotheosis/spawner.cfg
apotheosis/village.cfg
ars_elemental
ars_nouveau
arsomega
cataclysm
corgilib
fancymenu/assets/*
fancymenu/custom_locals/*
fancymenu/layout_editor/*
fancymenu/panoramas/*
fancymenu/ui_themes/*
fancymenu/custom_gui_screens.txt
!fancymenu/customizablemenus.txt
fancymenu/legacy_checklist.txt
fancymenu/user_variables.db
!fancymenu/options.txt
iceandfire/*
!iceandfire/ore_gen_biomes.json
!iceandfire/sapphire_gen_biomes.json
!iceandfire/amphithere_biomes.json
!iceandfire/hydra_cave_biomes.json
!iceandfire/stymphalian_bird_biomes.json
!iceandfire/fire_dragon_biomes.json
!iceandfire/fire_dragon_cave_biomes.json
!iceandfire/fire_dragon_skeleton_biomes.json
!iceandfire/fire_lily_biomes.json
!iceandfire/ice_dragon_biomes.json
!iceandfire/ice_dragon_cave_biomes.json
!iceandfire/ice_dragon_skeleton_biomes.json
!iceandfire/frost_lily_biomes.json
!iceandfire/lightning_dragon_biomes.json
!iceandfire/lightning_dragon_cave_biomes.json
!iceandfire/lightning_dragon_skeleton_biomes.json
!iceandfire/lightning_lily_biomes.json
!iceandfire/hippogryph_biomes.json
!iceandfire/hippogryph_black_biomes.json
!iceandfire/hippogryph_brown_biomes.json
!iceandfire/hippogryph_chestnut_biomes.json
!iceandfire/hippogryph_creamy_biomes.json
!iceandfire/hippogryph_dark_brown_biomes.json
!iceandfire/hippogryph_gray_biomes.json
!iceandfire/hippogryph_white_biomes.json
inline
jade
jei/*
!jei/blacklist.cfg
!jei/recipe-category-sort-order.ini
konkrete/*
l2_configs
NoChatReports
not_enough_glyphs
Obscuria
pickupnotifier
quark_emotes
regions_unexplored/*
!regions_unexplored/ru-common.toml
the_bumblezone
toomanyglyphs
traveloptics
!defaultoptions/extra/options.txt

# Individual configs to ignore
aeroblender-common.toml
aether_redux_common.toml
aether_redux_pack_config.json
alexscaves-client.toml
amendments-client.toml
ancient_aether-common.toml
appleskin-client.toml
aquaculture-common.toml
ars_creo-common.toml
ars_elemental-client.toml
ars_elemental-common.toml
ars_nouveau-client.toml
ars_nouveau-server.toml
arsdelight-common.toml
arts-and-crafts.toml
attributefix.json
attributeslib.cfg
azurelib.json
balm-client.toml
balm-common.toml
betteradvancements-client.toml
betterchunkloading.json
betterfpsdist.json
betteroceanmonuments-forge-1_20.toml
blueprint-client.toml
blueprint-common.toml
boatiview-client.toml
boxlib.json
breezy-client.toml
breezy-common.toml
cataclysm.toml
charmofundying-server.toml
chimes-client.toml
chimes-common.toml
chunksending.json
citadel-common.toml
clickadv.json
cofh_core-client.toml
cofh_core-common.toml
comforts-server.toml
configured-client.toml
constructionwand-client.toml
copycats-client.toml
copycats-common.toml
craftingtweaks-common.toml
create-client.toml
create-common.toml
cumulus_menus-client.toml
cupboard.json
curios-client.toml
curios-common.toml
dice-common.toml
debugkeybind.json
defaultoptions-common.toml
dimdungeons-client.toml
domestication-innovation.toml
dreadsteel-common.toml
dummmmmmy-client.toml
elytra-trims.json
embeddium-fingerprint.json
embeddium-mixins.properties
embeddium-mixins.properties.txt
embeddium-options.json
endergetic-common.toml
ends_delight-common.toml
enhanced_boss_bars-common.toml
entityculling.json
estrogen-client.toml
estrogen-common.toml
estrogen-server.toml
experienceobelisk-common.toml
explosiveenhancement.toml
exposure-client.toml
exposure-common.toml
fallingleaves-client.toml
farmersdelight-client.toml
farsight.json
fastpaintings-common.toml
fastsuite.cfg
ferritecore-mixin.toml
flib.toml
fml.toml
forbidden_arcanus-client.toml
forbidden_arcanus-common.toml
forge-client.toml
ftbxmodcompat.snbt
galosphere-common.toml
guardvillagers-client.toml
guardvillagers-common.toml
guardvillagers-common-1.toml.bak
guardvillagers-common-2.toml.bak
guardvillagers-common-3.toml.bak
guardvillagers-common-4.toml.bak
guardvillagers-common-5.toml.bak
guardvillagers-common-6.toml.bak
hexcasting-client.toml
hexcasting-common.toml
highlighter-common.toml
icarus.jsonc
idas.toml
illagerinvasion-server.toml
immersive_armors.json
irons_spellbooks-client.toml
jeresources.toml
labels-client.toml
leavesbegone-server.toml
lithostitched.json
lodestone-client.toml
lootr-client.toml
mahoutsukai-client.toml
map_atlases-client.toml
map_atlases-common.toml
modelfix-client.toml
modernfix-common.toml
modernfix-mixins.properties
modonomicon-client.toml
moonlight-client.toml
moonlight-common.toml
MouseTweaks.cfg
mutantmonsters-server.toml
nbt_ac.txt
necronomicon.json5
nerb.yaml
netherexp-common.toml
oculus.properties.txt
overflowingbars-client.toml
paperdoll-client.toml
patchouli-client.toml
paucal-common.toml
polymorph-integrations.toml
psi-client.toml
replaymod-rendersettings.json
replaymod.json
resourceful-config-web.json
ribbits-forge-1_20_1.toml
ribbits-options.json
rubinated_nether.jsonc
savage_and_ravage-client.toml
sawmill-common.toml
sidebar_buttons.json
smoothchunk.json
solcarrot-client.toml
sophisticatedbackpacks-common.toml
sophisticatedcore-client.toml
sophisticatedstorage-client.toml
sophisticatedstorage-common.toml
storagenetwork.toml
structureessentials.json
supplementaries-client.toml
terrablender.toml
toastcontrol-common.toml
toms_storage-common.toml
toolbelt-client.toml
toolbelt-common.toml
trade_cycling-client.toml
transmog.json
travelerscompass-common.toml
twilightdelight-client.toml
twilightdelight-common.toml
twilightforest-client.toml
twilightforest-common.toml
unusualend-common.toml
veinmining-client.toml
veinmining-common.toml
veinmining-server.toml
vinery.toml
visual_workbench.json
visualworkbench-client.toml
wan_ancient_beasts-common.toml
waystones-common.toml
witherstormmod-client.toml
witherstormmod-common.toml
zeta-common.toml
betterstrongholds-forge-1_20.toml
collective.json5